@charset "UTF-8";
  /* Add Zoom Animation */
  .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
      from {
          -webkit-transform: scale(0)
      }

      to {
          -webkit-transform: scale(1)
      }

  }

  @keyframes animatezoom {
      from {
          transform: scale(0)
      }

      to {
          transform: scale(1)
      }
  }

  #modal.modal-overlay {
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #modal .modal-window {
      background: white;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(13.5px);
      -webkit-backdrop-filter: blur(13.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      width: 400px;
      height: 500px;
      position: relative;
      top: -100px;
      padding: 10px;
  }

  #modal .title {
      padding-left: 10px;
      display: inline;
      text-shadow: 1px 1px 2px gray;
      color: black;

  }

  #modal .title h2 {
      display: inline;
  }

  #modal .close-area {
      display: inline;
      float: right;
      padding-right: 10px;
      cursor: pointer;
      text-shadow: 1px 1px 2px gray;
      color: green;
  }

  #modal .content {
      margin-top: 20px;
      padding: 0px 10px;
      text-shadow: 1px 1px 2px gray;
      color: black;
  }


  * {
      margin: 0;
      padding: 0;
      color: #000;
      box-sizing: border-box;
  }


  li {
      list-style: none;
  }

  a {
      text-decoration: none;
      outline: none;
  }

  .container {
      width: 1200px;
      margin: 0 auto;
  }

  header {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  header>h2 {
      margin-left: 10px;
  }

  header>nav {
      width: 800px;
      height: 100%;
  }

  header ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
  }

  header ul>li {
      font-size: 17px;
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-left: 10px;
  }

  li a:hover {
      color: green;
      font-weight: bold;
  }

  #alarm {
      padding-top: 45px;
      padding-left: 30px;
      color: green;
      cursor: pointer;
  }